

/* Samrt Phones And Tablets */

@media (max-width:767px)
{
    .navbar-default .navbar-nav > li > a
    {
        padding-top: 3px;
        padding-bottom:7px;
    } 
    .subscribe .form-control
    {
        margin: 20px auto;
        width: 350px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse
    {
        max-height:none;
    }
    .navbar-nav > li > .dropdown-menu a
    {
        transition: all .5s ease-in-out;
        
    }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
    {
        color: #fff;
    }
    .navbar-nav > li > .dropdown-menu a:hover
    {
        color:#FFF;
        font-size: 15px;

    }
    .navbar-default .navbar-brand
    {
        font-size: 31px;
    }
}

/* Small Screen */

@media(min-width:768px) and (max-width:991px)
{
    
}

/* medium Screen */

@media(min-width:992px) and (max-width:1199px)
{
    
}

/* large Screen */

@media(min-width:1200px)
{
    
}


